name: Node CI

on: [push]

jobs:
  unit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22, 24]
    name: Node v${{ matrix.node }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup Node.js version
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node }}

    - name: Install dependencies
      run: yarn

    - name: Run lint
      run: yarn lint

    - name: Run tests
      run: yarn test
